<a href="https://colab.research.google.com/github/Rewanth0/GUVI-Assignment-DW23/blob/main/26_08_assingment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment 1**

In [35]:
import pandas as pd
col=[ 'Left-Weight','Left-Distance','Right-Weight','Right-Distance']
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data',names=col)

In [36]:
df

    Left-Weight  Left-Distance  Right-Weight  Right-Distance
B             1              1             1               1
R             1              1             1               2
R             1              1             1               3
R             1              1             1               4
R             1              1             1               5
..          ...            ...           ...             ...
L             5              5             5               1
L             5              5             5               2
L             5              5             5               3
L             5              5             5               4
B             5              5             5               5

[625 rows x 4 columns]

**Check the number of data points and features in the data.**

In [37]:
df.shape

2500

In [38]:
df.size

2500

**Find unique values for each column.**

In [47]:
df.columns

Index(['Left-Weight', 'Left-Distance', 'Right-Weight', 'Right-Distance'], dtype='object')

In [51]:
df['Left-Weight'].unique()

array([1, 2, 3, 4, 5])

In [52]:
df['Left-Distance'].unique()

array([1, 2, 3, 4, 5])

In [53]:
df['Right-Weight'].unique()

array([1, 2, 3, 4, 5])

In [54]:
df['Right-Distance'].unique()

array([1, 2, 3, 4, 5])

**Check the data types of values in each column.**

In [57]:
df.dtypes

Left-Weight       int64
Left-Distance     int64
Right-Weight      int64
Right-Distance    int64
dtype: object

**Check basic statistics of data.**

In [67]:
df.describe()

       Left-Weight  Left-Distance  Right-Weight  Right-Distance
count   625.000000     625.000000    625.000000      625.000000
mean      3.000000       3.000000      3.000000        3.000000
std       1.415346       1.415346      1.415346        1.415346
min       1.000000       1.000000      1.000000        1.000000
25%       2.000000       2.000000      2.000000        2.000000
50%       3.000000       3.000000      3.000000        3.000000
75%       4.000000       4.000000      4.000000        4.000000
max       5.000000       5.000000      5.000000        5.000000

**Check if there are missing values. If yes, which column.**

In [64]:
df.isnull().mean()

Left-Weight       0.0
Left-Distance     0.0
Right-Weight      0.0
Right-Distance    0.0
dtype: float64

**Add a new column in the data.**

In [74]:
df['new']= 'ok'

In [75]:
df

    Left-Weight  Left-Distance  Right-Weight  Right-Distance new
B             1              1             1               1  ok
R             1              1             1               2  ok
R             1              1             1               3  ok
R             1              1             1               4  ok
R             1              1             1               5  ok
..          ...            ...           ...             ...  ..
L             5              5             5               1  ok
L             5              5             5               2  ok
L             5              5             5               3  ok
L             5              5             5               4  ok
B             5              5             5               5  ok

[625 rows x 5 columns]

**Then drop this column just created.**

In [77]:
df.drop(['new'],axis=1)

    Left-Weight  Left-Distance  Right-Weight  Right-Distance
B             1              1             1               1
R             1              1             1               2
R             1              1             1               3
R             1              1             1               4
R             1              1             1               5
..          ...            ...           ...             ...
L             5              5             5               1
L             5              5             5               2
L             5              5             5               3
L             5              5             5               4
B             5              5             5               5

[625 rows x 4 columns]

 **create a new column that has values found as a result of applying some operation on the
existing columnst**

In [78]:
df["result"]=df['Left-Distance'] * df['Left-Weight']

In [79]:
df

    Left-Weight  Left-Distance  Right-Weight  Right-Distance new  result
B             1              1             1               1  ok       1
R             1              1             1               2  ok       1
R             1              1             1               3  ok       1
R             1              1             1               4  ok       1
R             1              1             1               5  ok       1
..          ...            ...           ...             ...  ..     ...
L             5              5             5               1  ok      25
L             5              5             5               2  ok      25
L             5              5             5               3  ok      25
L             5              5             5               4  ok      25
B             5              5             5               5  ok      25

[625 rows x 6 columns]

**Access elements using loc and iloc.**

In [82]:
df.iloc[:,[1]]

    Left-Distance
B               1
R               1
R               1
R               1
R               1
..            ...
L               5
L               5
L               5
L               5
B               5

[625 rows x 1 columns]

In [83]:
df.iloc[1:3,:]

   Left-Weight  Left-Distance  Right-Weight  Right-Distance new  result
R            1              1             1               2  ok       1
R            1              1             1               3  ok       1



**Assignment 2**

In [5]:

def compute_dist(l1):
  count={}
  for i in l1:
    if i in count.keys():
      count[i]+=1
    else:
      count[i] =1 

  print(count)

In [6]:
l1 = [3, 4, 2, 1, 5, 1, 2, 4, 3, 4]
d1 = compute_dist(l1)

{3: 2, 4: 3, 2: 2, 1: 2, 5: 1}